@font-face {
    font-family: "Raleway";
    src: url('fonts/raleway_bold.ttf');
    src: url('fonts/ralway_regular.ttf');
}


/* Footer */

.footer {
    background-color: #403B3B;
    height: 300px;
    margin: 0;
}