@font-face {
    font-family: "Raleway";
    src: url('fonts/raleway_bold.ttf');
    src: url('fonts/ralway_regular.ttf');
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

p {
    margin: 0;
}

/* Kontaktformular */

.main-container  {
    display: flex;
    background-image: url("./img/googlemaps1.png");
    background-size: cover; 
    justify-content: space-evenly;
    margin-top: 12px;
    min-height: 70vh;
}

.left-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    background-color: white;
    margin: 65px 0px 65px 0px;
    border-radius: 26px;
    padding: 40px 50px 40px 50px;
    box-shadow: 3px 3px #E8E8E8;
}

.margin-bottom {
    margin-bottom: 28px;
}

.left-container h1 {
    font-size: 42px;
    color: #008001;
}

.left-container h1 {
    margin: 0px 0px 8px 0px;
}

.left-container h3 {
    margin: 0px 0px 80px;
    font-weight: 600;
    font-size: 18px;
}

.left-container img {
    width: 32px;
    height: auto;
    margin-right: 50px;
}

.contact-info {
    display: flex;
}

.tel,
.email,
.location {
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    margin: 16px 8px;

}

.tel {
    font-feature-settings: "lnum";
}

.contact-info a {
    text-decoration: none;
    color: black;
}

.contact-info a:hover {
    text-decoration: none !important;
    border-bottom-style: none;
    border-color: none;
    border-width: none;
    color: #008001;
    font-weight: 700;
}

.right-container {
    color: white;
    height: 800px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input,
.form textarea {
    background-color: rgb(0,128,1,0.1);
    width: 100%;
    border: 2px solid rgb(0,128,1);
    border-radius: 8px;
    height: 60px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    color: rgb(0,128,1);
}

.form textarea {
    padding-top: 20px;
    font-family: "Raleway", sans-serif;
    
}

.messagebox {
    height: 300px !important;
    text-align: start;
}

.form button {
    background-color: #008001;
    width: 100%;
    border: 3px solid white;
    border-radius: 8px;
    height: 80px;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
}

.form input::placeholder,
.form textarea::placeholder {
    color: rgb(0,128,1);
    font-size: 18px;
}

input,
textarea {
    outline: none;
}

@media(max-width: 1075px) {
    .main-container {
        flex-direction: column;
    }

    .left-container {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media(max-width: 600px) {
    .contact-info {
        flex-direction: column;
        text-align: center;
    }

    .contact-info a {
        flex-direction: column;
    }

    .left-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-info img {
        margin: 0px 0px 16px 0px;
    }
}

@media(max-width: 440px) {
    .contact-info {
        text-wrap: wrap;
    }

    .left-container {
        margin: 40px 20px 40px 20px;
    }
}